.spinner {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 5rem;
   height: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
   .spinner {
      animation: spinner infinite 1s linear;
   }
}

@keyframes spinner {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
